.flex-item {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.base {
    margin-bottom: 15px;
    background-color: #d0d3d4;
    border-radius: 4px;
}

.box1 {
    background-color: #63b1bc;
}

.box2 {
    background-color: #1f2a44;
}

.box3 {
    background-color: #ed145b;
}

.box4 {
    background-color: #efb661;
}

h1 {
    width: fit-content;
    margin: auto;
}

/* Alinhar as box junto à borda inicial */
.container1 {
    display: flex;
    justify-content: flex-start;
}

/* Alinhar as box junto à borda final */
.container2 {
    display: flex;
    justify-content: flex-end;
}

/* Centralizar as box na linha */
.container3 {
    display: flex;
    justify-content: center;
}

/* Distribuir as box igualmente ao longo da linha */
.container4 {
    display: flex;
    justify-content: space-between;
}

/* Distribuir as box com espaçamento ao redor */
.container5 {
    display: flex;
    justify-content: space-around;
}

/* Espaçamento igual entre todos as box */
.container6 {
    display: flex;
    justify-content: space-evenly;
}

/* Exercicio B */
.container-exercicioB {
    display: flex;
    flex-direction: column-reverse; /* Organiza os itens de cima para baixo (4, 3, 2, 1) */
    justify-content: flex-start; /* Mantém o alinhamento no topo */
    align-items: flex-start; /* Alinha os itens à esquerda (borda esquerda da tela) */
}

/* Desafio */
.container-desafio {
    display: flex;
    justify-content: flex-end; /* Alinha os itens ao lado esquerdo */
    flex-direction: row-reverse;
}